In [1]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
np.random.seed(0)

# The dataset

In [3]:
data = pd.read_csv('data/Admission_Predict.csv', index_col=0)
data

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4.0,4.5,8.87,1,0.76
3,316,104,3,3.0,3.5,8.00,1,0.72
4,322,110,3,3.5,2.5,8.67,1,0.80
5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...
396,324,110,3,3.5,3.5,9.04,1,0.82
397,325,107,3,3.0,3.5,9.11,1,0.84
398,330,116,4,5.0,4.5,9.45,1,0.91
399,312,103,3,3.5,4.0,8.78,0,0.67
400,333,117,4,5.0,4.0,9.66,1,0.95

__We’ll consider every student with a chance of 0.75 or higher as “admitted,” and any other student as “not admitted.”__

In [4]:
data['Admitted'] = data['Chance of Admit'] >= 0.75

In [5]:
data = data.drop(['Chance of Admit'], axis=1)

In [6]:
data

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Admitted
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,True
2,324,107,4,4.0,4.5,8.87,1,True
3,316,104,3,3.0,3.5,8.00,1,False
4,322,110,3,3.5,2.5,8.67,1,True
5,314,103,2,2.0,3.0,8.21,0,False
...,...,...,...,...,...,...,...,...
396,324,110,3,3.5,3.5,9.04,1,True
397,325,107,3,3.0,3.5,9.11,1,True
398,330,116,4,5.0,4.5,9.45,1,True
399,312,103,3,3.5,4.0,8.78,0,False
400,333,117,4,5.0,4.0,9.66,1,True

In [7]:
features = data.drop(['Admitted'], axis=1)
labels = data['Admitted']

# Training a decision tree

In [8]:
dt = DecisionTreeClassifier()

__We’ll train it using the Gini index__

In [9]:
dt.fit(features, labels)

DecisionTreeClassifier()

In [10]:
dt.predict(features[0:5])

array([ True,  True, False,  True, False])

In [11]:
dt.score(features, labels)

1.0

# Training a smaller tree that doesn't overfit

In [12]:
dt_smaller = DecisionTreeClassifier(max_depth=3, min_samples_leaf=10, min_samples_split=10)

In [13]:
dt_smaller.fit(features, labels)

DecisionTreeClassifier(max_depth=3, min_samples_leaf=10, min_samples_split=10)

In [14]:
dt_smaller.score(features, labels)

0.885

In [15]:
dt_smaller.predict([[320, 110, 3, 4.0, 3.5, 8.9, 0]])

array([ True])